<a href="https://colab.research.google.com/github/agustinivandinocco-python/pythonpracticateoria/blob/main/Colab/clase_practica_03_2025_post_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase Practica 03 - 2025

 - Teoria __ciclo For__
 - Ejercitacion de temas vistos en clases teoricas 1, 2 y 3.

### Comenzaremos con un poco de teoria:

# Ciclo __For__:

El ciclo __for__ se utiliza en programación para recorrer objetos __iterables__ , y ejecutar un bloque de codigo.

Entonces.. Que es un Iterable? Bueno, un __iterable__ es un objeto que permite recorrer los elementos que lo componen, uno a uno.

Nosotros venimos trabajando con algunos objetos que son iterables:

- strings
- listas
-tuplas
-sets
-range() *


## estructura de un ciclo __for__

  for __elemento__ in __objeto_iterable__:

In [ ]:
#Pedir al usuario su nombre e imprimirlo letra por letra con un salto de linea entre cada una
nombre = input("escriba su nombre: ")
#break corta el bloque

for i in nombre: #aca podría ser for letra in nombre:
  print(i)
  #break
  continue
  print("hola")

print("salio  del for")

escriba su nombre: juan
j
u
a
n
salio  del for

In [ ]:
lista_for = [1,2,3,4]
#verificar si los elementos de la lista son pares, informandolo mediante un print con True o False según corresponda.

In [ ]:
for numero in lista_for:
  es_par = numero%2 == 0
  print(f"el numero {numero} , es {es_par} que sea par")

el numero 1 , es False que sea par
el numero 2 , es True que sea par
el numero 3 , es False que sea par
el numero 4 , es True que sea par

### 1)
generar una lista que contenga todos los numeros del 0 al 10 con la funcion vista en clase. guardarla en la variable "numeros".

In [ ]:
numeros = list(range(11))

In [ ]:
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2)
hacer slicing con la variable "numeros" e imprimir:

* numeros pares
* numeros del 7 al 10
* numeros impares de mayor a menor
* promedio de la sumatoria de los elementos
* promedio de la sumatoria sin tener en cuenta el primer elemento

In [ ]:
#numeros pares
numeros[ 2: :2 ]

[2, 4, 6, 8, 10]

In [ ]:
numeros[7]

7

In [ ]:
palabras = "del siete al diez"
palabras[palabras[7] : palabras[10]] # esto es equivalente a decir palabras["t" : "a"]

TypeError: slice indices must be integers or None or have an __index__ method

In [ ]:
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#del siete al diez
numeros[7 : 10+1]
numeros[numeros[7] : numeros[10] + 1  ]

[7, 8, 9, 10]

In [ ]:
#promedio de los numeros
sum(numeros) / len(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#promedio sin tener en cuenta el primer elemento
sum(numeros[ 1 : ]) / len(numeros[1:])

5.5

#### *ejecutar las siguientes listas cada vez que comienza los ejercicios de 3 a 5 inclusive:*

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

### 3)
elegir un ticker aleatoriamente de byma y guardarlo en la variable "ticker_para_nyse". primero imprimir en pantalla y luego asignarlo a la lista de nyse, e imprimir esta ultima.

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

In [ ]:
import random as rn

In [ ]:
byma[rn.randint(0, len(byma)-1)] # rn.randint(  0   ,  len(byma)-1     )

'EDN'

In [ ]:
#el error mas frecuente cuando estamos accediendo a una posicion de una secuencia!
byma[4]

IndexError: list index out of range

In [ ]:
ticker_para_nyse = rn.choice(byma)

In [ ]:
print(ticker_para_nyse)
nyse.append(ticker_para_nyse) #append retorna None , x lo que no se asigna a la variable

GGAL

['KO', 'TSLA', 'TS', 'AAPL', 'BRK.A', 'GGAL']

### 4)
mezclar aleatoriamente la lista nyse e imprimirla. Luego agregar el anteultimo ticker de esta lista a la lista byma.

In [ ]:
import random as rn

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

In [ ]:
rn.shuffle(nyse) #otra funcion que retorna None

In [ ]:
nyse

['TS', 'TSLA', 'AAPL', 'BRK.A', 'KO']

In [ ]:
#[23,4][-2] esto si funciona xq el slicing negativo comienza en -1 en lugar de 0

23

In [ ]:
byma.append(nyse[-2])

In [ ]:
byma

['EDN', 'GGAL', 'YPFD', 'CTIO', 'BRK.A']

### 5)
fusionar las dos listas en una sola, luego cargar estos datos en una variable llamada "lista_larga". Acomodarla en orden alfabetico INVERSO (Z a A) , imprimir y luego:
* elimilar el primer elemento utilizando el nombre del ticker (str) correspondiente.
* eliminar el ultimo elemento utilizando el indice del mismo e imprimir cual fue el mismo.

imprimir nuevamente la lista para verificar los cambios.

In [ ]:
nyse = ["KO", "TSLA" , "TS" , "AAPL" , "BRK.A"]
byma = ["EDN" , "GGAL" , "YPFD" , "CTIO"]

In [ ]:
lista_larga = nyse + byma #nyse.extend(byma)

In [ ]:
#esta seria una forma mas artesanal de hacer el extend
for i in byma:
  nyse.append(i)

In [ ]:
lista_larga.sort(reverse=True)

In [ ]:
print(lista_larga.sort()) #aca retorna none

None

In [ ]:
print(lista_larga)

['YPFD', 'TSLA', 'TS', 'KO', 'GGAL', 'EDN', 'CTIO', 'BRK.A', 'AAPL']

In [ ]:
lista_larga[0]

'YPFD'

In [ ]:
# lista_larga[0] = lista_larga[0].replace("YPFD" , "") no estaria bien!

In [ ]:
lista_larga.remove(lista_larga[0])

In [ ]:
lista_larga.pop()

['KO', 'GGAL', 'EDN', 'CTIO', 'BRK.A', 'AAPL']

### 6)
Solicitar al usuario un valor entero para generar una tabla de multiplicación (1 al 10), presentando los resultados en pantalla y almacenándolos en una lista. ¿Como podría dejar almacenado dichos resultados en una tupla , en lugar de la lista?

In [ ]:
entero = int(input("dame un valor del 1 al 10:"))
resultados = []
for i in range(1,11):
  valor = i * entero
  resultados.append(valor)

dame un valor del 1 al 10:3

In [ ]:
#demostración for anidado
for i in range(1,11):

  for x in range(5):

    print( (i , x))

In [ ]:
entero = int(input("dame un valor del 1 al 10:"))
resultados = [ (i , x)  for i in range(1,11)   for x in range(5) ] #for anidado de demostración en listas x comprension

dame un valor del 1 al 10:3

### 7)
Utilizando otro número para las tablas, genera una nueva tabla de multiplicar y aplique la misma lógica utilizada en el punto 6. Luego, compare la nueva lista resultante con la del punto 6 y determine qué valores están presentes en ambas listas.

###  8)
solicitar al usuario cuantos elementos tendra nuestra lista.

Utilizando ese dato, solicitar al usuario tantos numeros como longitud de la lista, dando la posibilidad de que sean numeros decimales.

Guardar dichos numeros en una lista, y luego A MANO  calcular la media y la desviacion estandar.

Verificar con alguna libreria, los resultados obtenidos.

In [ ]:
cantidad_elementos = int(input("cantidad de elementos que tendra mi lista: "))

cantidad de elementos que tendra mi lista: 3

In [ ]:
lista = []
for i in range(cantidad_elementos):
  numero_decimal = float(input("decime un decimal: "))
  lista.append(numero_decimal)

decime un decimal: 2
decime un decimal: 3
decime un decimal: 4

In [ ]:
lista = [float(input(f"decime el decimal nro {i+1}: ")) for i in range(cantidad_elementos)]
#hay casos como este, donde la variable
#interna del for no hace falta utilizar!

decime el decimal nro 1: 2
decime el decimal nro 2: 3
decime el decimal nro 3: 4

In [ ]:
#falta calcular el desvio estandar de forma "manual"

[3.0, 3.0]

###  9)

Pedir al usuario 5 tickers y guardarlos en una lista.

Usar la lista "historial_de_operaciones" para ver si he operado algun ticker de los pasados por el usuario.

En el caso de hallar coincidencias , imprimir tales tickers en un texto minuscula como "el ticker X ha sido operado por mi"

Para aquellos tickers que no se hallen coincidencias, eliminarlos de "historial de operaciones" y guardarlos en una tupla.

In [ ]:
historial_de_operaciones = ["BMA" , "KO" , "TSLA" , "YPFD"]

### 10)

Con el String utilizado en la clase pasada, volverlo a limpiar para dejarlo normalizado, y luego generar una lista con las operaciones individuales (ticker operacion precio).


Obtener el precio promedio de las operaciones.

In [ ]:
cotizaciones = """BMA C 220,00
BMA C $219,22
BMA V $221,50
COME V $3,00
GGAL c $190,95
BMA V $220,25
GGAL v 187,20
TS V $40,30
TS C $45,20
TS V 40,20
COME C $3,01"""

### 11)

Pedir al usuario sus 3 acciones favoritas, y sus precios actuales, guardando este par de datos dentro de una lista, y luego todas estas listas de pares, dentro de la tupla "acciones_favs"

Con los datos de la tupla, generar dos listas. Una con los tickers y otra con los precios.

### 12)
Se requiere saber cuales son los numeros que __NO__ se repiten dentro de la lista, para informarlos por consola.

El informe debe ser del tipo __"es X que Y se encuentra solo una vez en 'nums'   "__

In [ ]:
nums = [1, 2, 3, 1, 4, 2, 5, 6, 3]

### 13)
### a)

En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_a = [["2023-05-01", "C" , "BMA" , 220] ,
          ["2023-05-02" , "V" , "COME" , 3.00],
          ["2023-05-03" , "C" , "GGAL" , 451.32] ]

### b)
En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_b = ["2023-05-01", "C" , "BMA" , 220 ,
          "2023-05-02" , "V" , "COME" , 3.00,
          "2023-05-03" , "C" , "GGAL" , 451.32]

### c)
En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_c = [["2023-05-01", ["C"] , ["BMA"] , [220]] ,
          ["2023-05-02" , ["V"] , ["COME"] , [3.00]],
          ["2023-05-03" , ["C"] , ["GGAL"] , [451.32]]]

### d)

En base a la lista dada, imprimir en formato "en fecha X se ha operado: una C/V del papel Y a un precio de P ".

In [ ]:
fechas_d = [["2023-05-01", ["C" , "C" , "V"] , ["BMA" ,"BMA" , "BMA"] , [220 , 219.22 , 221.5]] ,
          ["2023-05-02" , ["V" , "C" , "V"] , ["COME" ,"GGAL" , "BMA"] , [3.00 , 190.95 , 220.25]] ]

### 14)
generar un array de 25 numeros entre 1 y 100. Eliminar el 3er elemento del array , y reemplazar por 0 al numero que se encuentre en la posicion 21. Imprimir numero por numero, junto a su cuadrado , de forma ordenada de mayor a menor.

### 15)
Generar 350 numeros aleatorios(menores a mil) y guardarlos en una lista.
Calcular media, moda y mediana. Calcular desvio , varianza y deciles utilizando metodos de librerias de calculo.